@import '../../components/styles/variables.scss';


.custom-select__style{
	display: block;
  width: $wd-100p;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-top: $sp-5;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: $br-1 solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.error{
  font-size: 12px;
  color:salmon;
}