@import '../../styles/variables.scss';

.history-orders{
  margin-bottom:$sp-20;
  text-align: center;
  margin-top: 15px;
}
 
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.date{
  margin-left: $sp-50;
}
 
  
.dataPicker{
  cursor: pointer;
  text-align: center;
  margin-left: $sp-50;
  border-radius: $br-2;
  border: $br-1 solid;
  padding: $sp-2;
}
.message{
  text-align: center;
	color: salmon;
	font-family: "Open Sans", sans-serif;
	margin-top: $sp-50;
  font-size: $fz-20;
  font-weight: $font-weight-medium;
}
 
.wrapper{
  display: flex;
  align-items:center;
  gap: $sp-15;
}

.datePickerWrapper{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.total{
  margin-right: $sp-50;
}
@media(max-width:1400px){
  .record-list{
    display: block;
    align-items:center;
    flex-wrap: wrap;
  }
  .record-item{
        display: block;
        width: $wd-300;
     }
     li div {
        font-size: $fz-20;
     }
     .wrapper{
      display: block;
     }
      
     .delete{
      margin-top:$sp-15;
      width: $wd-100p;
     }
     .datePicker{
       margin-top: $sp-15;
    }
}
@media(max-width:650px){
  .total{
    font-size: $fz-15;

  }

}

@media(max-width:520px){
  .total{
    margin-right: $sp-20;
    
  }
  .dataPicker{
    margin-left: $sp-20;
  }
  .history-orders{
    font-size: $fz-20;
  }
   
}

@media(max-width:520px){
.datePickerWrapper{
  display: block;
  text-align: center;

}
.total{
  margin-top: 10px;
}

}