@import '../../styles/variables.scss';

.history-orders{
  margin-bottom:$sp-20;
  text-align: center;
  margin-top: 15px;
}

.get-orders_block{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    gap: 15px;
}
 .get-orders{
    margin-left: 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 16px;
 
 }
 .get-orders:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px -8px;
 }
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.date{
  margin-left: $sp-50;
}
 
  
.dataPicker{
  cursor: pointer;
  text-align: center;
  margin-left: $sp-50;
  border-radius: $br-2;
  border: $br-1 solid;
  padding: $sp-2;
}

 
.wrapper{
  display: flex;
  align-items:center;
  gap: $sp-15;
}

.datePickerWrapper{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.total{
  margin-right: $sp-50;
}
@media(max-width:1400px){
  .record-list{
    display: block;
    align-items:center;
    flex-wrap: wrap;
  }
  .record-item{
      display: block;
      width: $wd-300;
     }
     li div {
        font-size: $fz-20;
     }
     .wrapper{
      display: block;
     }
      
     .delete{
      margin-top:$sp-15;
      width: $wd-100p;
     }
     .dataPicker{
       
       margin-left: $sp-20;
    }
}
@media(max-width:650px){
  .total{
    font-size: $fz-15;

  }

}



@media(max-width:720px){
.datePickerWrapper{
  display: block;
  text-align: center;

}
.total{
  margin-top: $sp-10;
  text-align: start;
  margin-left: $sp-20;
}

}

@media(max-width:520px){
   
   
  .history-orders{
    font-size: $fz-20;
  }
  
   
}