@import '../../styles/variables.scss';

.schedule {
  padding: 20px;
  overflow-y: hidden;
}

.table {
  overflow-x: auto;
}

table {
  width: 100%;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid #000;
  table-layout: auto;
  margin: 10px auto;
}

th, td {
  padding: 12px;
  border: 1px solid #000;
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  height: 70px;
 
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:not(:first-child):hover {
  background-color: #ddd;
  transition: background-color 0.3s ease;
  box-shadow: -2px 3px 5px 1px;
  cursor: pointer;
}

td {
  font-weight: 500;
  
}


.month{
  font-weight: 600;
  font-family: $font;
}
 
.btn-block {
  display: flex;
  justify-content: space-between;
}

.r-btn{
  color: black;
  background-color: #f0526e;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  height: 50px;
  border-radius: 4px;
  width: 150px;
}
.r-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
.g-btn{
	color: black;
  font-family: $font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  background-color: rgb(80, 200, 120);
  border-radius: $br-4;
  width: $wd-150;
}
.g-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}

.week-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $sp-20;
  gap: $sp-15;
}

.nav-button {
    background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
}

.nav-button:hover {
  
  transform: scale(1.01); /* Увеличиваем кнопку при наведении */
}

.month-span {
  font-size: 18px;
  font-weight: bold;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.work-time-block {
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.select:focus {
  border-color: #007bff;
  outline: none;
}
@media(max-width:900px){
  .table{
    overflow-y: scroll;
  }
  .nav-button{
    font-size: 10px;

  }
   
}