@import '../../../styles/variables.scss';


.record-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sp-15;
  margin-bottom: $sp-5;
  box-shadow: 0 1px 6px -3px;
  background: #f2f2f2;
  border-radius: 15px;
  margin: $sp-10 $sp-50 $sp-10 $sp-50;
}

.record-item__inner{
  width: $wd-250;
}

.order-closed{
  background-color:rgb(186, 178, 177);
  text-align: center;
  padding: $sp-2 $sp-5 $sp-2 $sp-5;
  border-radius:$br-4;
  width:$wd-125;
  text-align: center;
}
.order-canceled{
  background-color:salmon;
  padding: $sp-2 $sp-5 $sp-2 $sp-5;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
  text-align: center;
}
.order-accept{
	background-color:$buttonAccept-color;
	padding: $sp-2 $sp-5 $sp-2 $sp-5;
	box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
  text-align: center;
}
.order-created{
	background-color:rgba(200, 200, 15, 0.76);
  text-align: center;
	padding: $sp-2 $sp-5 $sp-2 $sp-5 ;
	box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
  text-align: center;
}
 .pagination{
  text-align: center;
  padding: 30px;
 }


.pagination-btn {
  margin: 0 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover {
  background-color: #e0e0e0;
}

.pagination-btn:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.pagination-btn.active {
  background-color: #f0526e; /* Красный цвет для активной страницы */
  color: white;
  font-weight: bold;
}


@media(max-width:1400px){
	.record-item{
		display: block;
		width: 300px;
	}
  .record-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
  
    margin: 20px;
  }
  .record-item{
    margin: $sp-10 $sp-0 $sp-10 $sp-0;
  }
	
     .order-closed{
      width: auto;
     }
     .order-canceled{
      width: auto;
     }
     .order-created{
      width: auto;
     }
     .order-accept{
      width: auto;
     }
      
}
@media(max-width:1260px){

 
  .record-item__inner{
    width:max-content;
  }
  .record-item__inner div {
    font-size: 12px;
  }
  .record-item{
    width: max-content;
  }
  .order-canceled{
    width: 150px;
    font-size: 12px;
  }
  .order-accept{
    width: 150px;
    font-size: 12px;
  }
  .order-closed{
    width: 150px;
    font-size: 12px;
  }
  .order-created{
    width: 150px;
    font-size: 12px;
  }

  
}
@media(max-width:990px){
  .record-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
   
   
  }

}
@media(max-width:800px){
  .record-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
   
   
  }
  .pagination-btn{
    font-size: 10px;
  }

}
@media(max-width:600px){
  .record-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
   
   
  }

}

@media(max-width:420px){
  .record-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
	 
  .pagination-btn{
    padding: 2px;
  }
}