@import '../../../styles/variables.scss';


.record-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sp-15;
  margin-bottom: $sp-5;
  box-shadow: 0 1px 6px -3px;
  border-radius: 15px;
  margin: $sp-10;
  gap: $sp-10;
}

.record-item__inner{
  width: $wd-250;
}
.record-item__inner div{
  background: #f5f5f5;
  border-radius: 10px;
  color: #333;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px 14px;
}

.order-closed{
  background-color:rgb(186, 178, 177);
  font-size: 12px;
  padding: 10px 14px;
  text-align: center;
  border-radius: 15px;
  width:$wd-125;
   
  
}
.order-canceled{
  background-color:salmon;
  font-size: 12px;
  padding: 10px 14px;
  text-align: center;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
 
}
.order-accept{
	background-color:$buttonAccept-color;
	font-size: 12px;
  padding: 10px 14px;
  text-align: center;
	box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
 
}
.order-created{
	background-color:rgba(200, 200, 15, 0.76);
	font-size: 12px;
  padding: 10px 14px;
  text-align: center;
	box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  width:$wd-125;
 
}
 .pagination{
  text-align: center;
  padding: 30px;
 }


.pagination-btn {
  margin: 0 5px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover {
  background-color: #e0e0e0;
}

.pagination-btn:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.active {
  background-color: #f0526e;  
  color: white;
  font-weight: bold;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.message{
  text-align: center;
	color: salmon;
	font-family: "Open Sans", sans-serif;
	margin-top: $sp-50;
  font-size: $fz-20;
  font-weight: $font-weight-medium;
}

@media(max-width:1400px){
	.record-item{
    display: inline-block;
    flex-wrap: wrap;
    align-items:center;
 }
   
  
	
     .order-closed{
      width: auto;
     }
     .order-canceled{
      width: auto;
     }
     .order-created{
      width: auto;
     }
     .order-accept{
      width: auto;
     }
      
}
 
 
@media(max-width:800px){
  
  .pagination-btn{
    font-size: 10px;
  }

}
 

@media(max-width:420px){
  
	 
  .pagination-btn{
    padding: 2px;
  }
}