 
@import '../../../styles/variables.scss';

.enrol-form{
  margin-top:$sp-5;
}
.b-btn{
  background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  padding: $sp-10 $sp-20;
  border-radius: $br-4;
  font-size: $fz-16;
  margin-top: $sp-10;
}
.b-btn:hover{
  transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
.btn-block{
  display: flex;
  justify-content: space-between;
  margin-top: $sp-50;
}
.r-btn{
  color: black;
  background-color: #f0526e;
  font-family: "Open Sans", sans-serif;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  border-radius: $br-4;
  width: $wd-150;
}
.r-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
.g-btn{
	color: black;
  font-family: $font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  background-color: rgb(80, 200, 120);
  border-radius: $br-4;
  width: $wd-150;
}
.g-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  overflow-y: scroll;
  
}
.modal-content {
  z-index: 15;
  background: white;
  position: fixed;      
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $br-8;
  padding: $sp-20;
  max-width: $wd-550;
  width: $wd-100p;
  animation: bounce-in .5s;
  overflow-y: auto;
 
}
.succes-message{
  z-index: 15;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $br-4;
    padding: $sp-20;
    max-width: 550px;
    width: 31%;
    animation: bounce-in .5s;
    overflow-y: auto;
    height: $hg-150;
    box-shadow: 0px 3px 12px -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose {
  text-align: center;
}