@import '../../../../styles/variables.scss';


.search-button {
  background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  padding: $sp-10 $sp-20;
  border-radius: $br-5;
  font-size: $fz-16;
  margin-top:10px;
}
.search-button:hover{
  transform: scale(1.05);
  transition: 0.05s;
}
.search-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}