@import '../../../../styles/variables.scss';

.service-block{
	display: flex;
	align-items:center;
	width: 100%;
}
.service-item__inner{
    width: $wd-100p;
}

.no-desc{
    color: #f0526e;
}
/*media*/

@media(max-width:1400px){
    .service-block{
         display: block;
    }
     
    
}