@import '../../../../styles/variables.scss';


.r-btn{
	color: black;
  font-family: $font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  background-color: #f0526e;
  border-radius: $br-4;
  width: $wd-150;
}
.r-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}

.g-btn{
	color: black;
  font-family:$font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  background-color: rgb(80, 200, 120);
  border-radius: $br-4;
  width: $wd-150;
}
.g-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}

.btn-block{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: $sp-10;
}

.description{
  display: block;
  width: $wd-100p;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
  height: $hg-100;
}
.description:focus{
  color: #212529;
   background-color: #fff;
   border-color: #bdbdbd;
   outline: 0;
   box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

 