@import '../../../../styles/variables.scss';



.client-info{
  background: #cccccc47;
  border-radius: $br-4;
  padding: $sp-15;
  margin-top: $sp-10;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.y-btn{
  color: black;
  background-color: rgb(165, 206, 41);
  font-family: "Open Sans", sans-serif;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  border-radius: $br-4;
  width:$wd-150;
  margin-top: $sp-15;
}
.y-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}

 
.r-btn{
  color: black;
  background-color: #f0526e;
  font-family: "Open Sans", sans-serif;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
  padding: $sp-10;
  height: $hg-50;
  border-radius: $br-4;
  width:$wd-150;
  margin-top: $sp-15;
}
.r-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}

.clientBlock{
	display: flex;
}
.btn-block{
    display: flex;
    justify-content: space-between;
    margin-top: $sp-50;
}