@import '../../../../styles/variables.scss';

.employee-item{
	display: flex;
	align-items:center;
	width: $sp-100p;
}
.employee-item__inner{
    width: $wd-100p;
 }
 .employee-item__inner div {
    font-size:$fz-12
 }
 
 
 /*media*/

 @media(max-width:1400px){
    .employee-item{
        display: block;
        width: $wd-300;
        justify-content: center;
    }
    
}

@media(max-width:500px){
    .employee-item{
       margin: $sp-20 auto;
    }
    .employee{
        font-size: $fz-35;
    }
    .modal-content{
        width: $wd-400;
    }
    .btn-block{
        gap: $sp-15;
    }
}

 