@import '../../styles/variables.scss';

.orders-today{
  margin-bottom:$sp-20;
  text-align: center;
  margin-top: 15px;
}

select{
    border: 2px solid;
    border-radius: 2px;
    width: 100%;
    
}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.date-picker{
    cursor: pointer;
    text-align: center;
    margin-left: $sp-30;
    border-radius: $br-2;
    border: $br-1 solid;
    padding: $sp-2;
    box-shadow: 0 1px 4px -2px;
    
}
.wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.b-btn{
    position: relative;
    margin-right: 30px;
    background-color: #00aaff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: max-content;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}
.b-btn:hover{
  transform: scale(1.02);
	box-shadow: $shadow-small;
}
 
.enrol-form{
    background:#b5b5b565;
    padding: 10px;
    border-radius:2px;
}
  
 .form-close{
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: end;
 }
 .form-close:hover {
  color: rgba(255, 0, 0, 0.274);  
  transition: .2s;
}

.form-close:active {
  color: rgba(255, 0, 0, 0.274);  
  transition: .1s;
  transform: scale(1.3);
}
.service{
    height: 20px;
}

.reload{
  width: 35px;
  border-radius:50%;
  padding: 5px;
}
.stop-reload{
  width: 35px;
  background:#f63c27;
  animation: clickAnimation 0.3s ease-out;
  border-radius:50%;
  padding: 5px;
}
.notification{
  text-align: center;
}
.orders{
  display: flex;
  align-items:center;
  justify-content: center;
}
.count{
  background-color:#f63c27;
  font-size: 25px;
  border-radius:50%;
  padding:5px 15px;
}
@keyframes clickAnimation {
  0% {
    transform: scale(1);
    background-color: #f63c27;
  }
  50% {
    transform: scale(1.1);
    background-color: #f63c27;
  }
  100% {
    transform: scale(1);
    background-color: #f63c27;
  }
}
@media(max-width:1400px){
    .record-list{
        display: flex;
        flex-wrap: wrap;
        align-items:center;
     }
     .record-item{
        display: block;
        width: $wd-300;
     }
     .btn-block{
         display: flex;
         justify-content: space-between;
         margin-top: $sp-15;
        gap: $sp-10;
     }
     li div {
        font-size: $fz-20;
     }
     .order-created{
        width:auto;
     }
     .order-accept{
        width:auto;;
     }
     .date-picker{
       margin-top: $sp-15;
    }
}
 

 @media(max-width:520px){
  .orders-today{
    font-size: $fz-20;
  }
}
