@import '../styles/variables.scss';


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  overflow-y: scroll;
  
}

.modal-content {
  
  z-index: 15; 
  background: white;
  position: relative;
  border-radius: $br-8;
  padding: $sp-20;
  max-width: $wd-500;
  width: $wd-100p;
  animation:bounce-in .5s;
  margin: $sp-10;
  overflow: auto;
  max-height: 90vh;
}

.modal-content.close {
  animation: bounce-out .5s forwards;
}

@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal-close {
  border: none;
  cursor: pointer;
  background: none;
  position: absolute;
  top: $sp-10;
  right: $sp-10;
  font-size:$fz-24;
  
}
.modal-close:hover {
  color: rgba(255, 0, 0, 0.274);  
  transition: .2s;
}

.modal-close:active {
  color: rgba(255, 0, 0, 0.274);  
  transition: .1s;
  transform: scale(1.3);
}

