@import '../../../styles/variables.scss';
.works{
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}
 .work-list{
  height: 100vh;
  
 }

.work-list__inner {
   display: flex;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.work-list__item {
  border: 1px solid #00000026;
  padding: $sp-5;
  box-shadow: 0 1px 6px -3px;
  border-radius: 15px;
  cursor: pointer;
  object-fit: cover;
  width: 200px;
}
.work-list__item:hover{
    box-shadow: 0 1px 4px -2px;
}
.work-list__item img{
	width: $wd-100p;
  height: $hg-200;
  object-fit: cover;
  border-radius: $br-4;
  border-radius: 15px;
}
 
.message{
	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: salmon;
	margin-top: $sp-50;
    font-size: $fz-20;
    font-weight: $font-weight-medium;
}
.question{
  text-align: center;
}
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.g-btn{
  color: black;
  font-family: $font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
	padding:$sp-10;
	height: $hg-50;
	background-color: rgb(80, 200, 120);
	border-radius: $br-4;
	width: $wd-150;
}
.g-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
.r-btn{
	color: black;
  font-family: $font;
  font-size: $fz-12;
  font-weight: $font-weight-regular;
	padding:$sp-10;
	height: $hg-50;
 
	background-color:#f0526e;
	border-radius: $br-4;
	width: $wd-150;
}
.r-btn:hover{
	transform: scale(1.02);
	box-shadow: $shadow-small;
	transition: .2s;
}
 
 
.btn-block{
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items:center;
 }
.wrapper{
  margin-top: 10px;
}
 @media(max-width:670px){
    .work-list__item{
      width: 100px;
    }
    .work-list__item img{
      height: 100px;
    }
 }