//colors
$button-color:#e6e6e6;
$buttonAccept-color:rgba(15, 210, 15, 0.573);
$buttonCancel-color:salmon;
$bg-grey:#a9a9a9;
$bg-white:#e6e6e6;

//font-size
$fz-6:6px;
$fz-10:10px;
$fz-12:12px;
$fz-13:13px;
$fz-14:14px;
$fz-15:15px;
$fz-16:16px;
$fz-17:17px;
$fz-18:18px;
$fz-20:20px;
$fz-22:22px;
$fz-24:24px;
$fz-25:25px;
$fz-26:26px;
$fz-28:28px;
$fz-30:30px;
$fz-32:32px;
$fz-34:34px;
$fz-35:35px;
$fz-36:36px;
$fz-38:38px;
$fz-40:40px;
$fz-42:42px;
$fz-44:44px;
$fz-45:45px;
$fz-46:46px;
$fz-48:48px;
$fz-50:50px;

$fz-1rem:1rem;

//font-weight (переименованы, чтобы избежать конфликтов)
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

//font-family
$font:"Open Sans", sans-serif;

//spacing
$sp-0: 0;
$sp-2: 2px;
$sp-3: 3px;
$sp-4: 4px;
$sp-5: 5px;
$sp-7: 7px;
$sp-8: 8px;
$sp-10: 10px;
$sp-12: 12px;
$sp-15: 15px;
$sp-16: 16px;
$sp-17: 17px;
$sp-20: 20px;
$sp-24: 24px;
$sp-25: 25px;
$sp-30: 30px;
$sp-32: 32px;
$sp-35: 35px;
$sp-40: 40px;
$sp-48: 48px;
$sp-50: 50px;
$sp-55: 55px;
$sp-60: 60px;
$sp-64: 64px;
$sp-70: 70px;
$sp-75: 75px;
$sp-80: 80px;
$sp-85: 85px;
$sp-90: 90px;
$sp-95: 95px;
$sp-100: 100px;
$sp-120: 120px;
$sp-130: 130px;
$sp-140: 140px;
$sp-150: 150px;
$sp-160: 160px;
$sp-164: 164px;
$sp-178: 178px;
$sp-180: 180px;
$sp-196: 196px;
$sp-213: 213px;
$sp-200: 200px;
$sp-215: 215px;
$sp-300: 300px;
$sp-100p:100%;

//width
$wd-12:12px;
$wd-13:13px;
$wd-14:14px;
$wd-15:15px;
$wd-20:20px;
$wd-25:25px;
$wd-30:30px;
$wd-30p:30%;
$wd-35:35px;
$wd-40:40px;
$wd-45:45px;
$wd-50:50px;
$wd-60:60px;
$wd-75:75px;
$wd-80:80px;
$wd-90:90px;
$wd-100:100px;
$wd-120:120px;
$wd-125:125px;
$wd-130:130px;
$wd-135:135px;
$wd-140:140px;
$wd-150:150px;
$wd-200:200px;
$wd-210:210px;
$wd-250:250px;
$wd-270:270px;
$wd-300:300px;
$wd-320:320px;
$wd-330:330px;
$wd-340:340px;
$wd-350:350px;
$wd-355:355px;
$wd-360:360px;
$wd-370:370px;
$wd-400:400px;
$wd-500:500px;
$wd-600:600px;
$wd-550:550px;
$wd-800:800px;
$wd-1000:1000px;
$wd-100p:100%;
$mwd-90p:90%;
$wd-100vw:100vw;

//height
$hg-1:1px;
$hg-2:2px;
$hg-12:12px;
$hg-13:13px;
$hg-14:14px;
$hg-15:15px;
$hg-20:20px;
$hg-25:25px;
$hg-35:35px;
$hg-50:50px;
$hg-60:60px;
$hg-45:45px;
$hg-80:80px;
$hg-80p:80%;
$hg-100:100px;
$hg-120:120px;
$hg-150:150px;
$hg-200:200px;
$hg-230:230px;
$hg-250:250px;
$hg-305:270px;
$hg-300:300px;
$hg-305:305px;
$hg-500:500px;
$hg-100p:100%;
$hg-100vh:100vh;
$mhg-90p:90%;

//border
$br-1: 1px;
$br-2: 2px;
$br-3: 3px;
$br-4: 4px;
$br-5: 5px;
$br-8: 8px;
$br-16: 16px;
$br-10:10px;
$br-20p:20%;
$br-50p:50%;

//shadows
$shadow-small: 0 8px 16px -8px;
$shadow-medium: 0 4px 8px rgba(0, 0, 0, 0.1);
$shadow-large: 0 8px 16px rgba(0, 0, 0, 0.2);
$shadow-unique:0 9px 8px -14px;
