@import '../../../styles/variables.scss';

.news{
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}
 .news-list{
  height: $hg-100vh;
 }
.news-list__inner{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $sp-10;
  margin-top:$sp-20 ;
}
 

.message{
	text-align: center;
	margin-top: $sp-50;
	font-family: "Open Sans", sans-serif;
  font-size: $fz-20;
  font-weight: $font-weight-medium;
	color: salmon;
}
.news-list__item{
  cursor: pointer;
  box-shadow: 0 1px 4px -2px;
  padding: 50px;
  border-radius: 15px;
  
 }
.news-list__item:hover{
  box-shadow:0 1px 4px -2px;
 
}
.news-list__item p {
	color: black;
  font-family: $font;
  font-size: $fz-15;
  font-weight: $font-weight-light;
}
 


 
@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 

@media(max-width:1200px){
  .news-list__inner{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:750px){
  .news-list__inner{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:550px){
  .news-list__inner{
    grid-template-columns: repeat(1, 1fr);
  }
}