@import '../../styles/variables.scss';


.works-filed{
    padding: $sp-20;
}

.message{
    text-align: center;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: salmon;
}
.b-btn{
  position: relative;
  margin-left: $sp-10;
  background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 35px;
  width: 200px;
}
.b-btn:hover{
    transform: scale(1.010);
     
}
 
.category{
    width: 100%;
    max-width: 100%;
    padding: 0.706rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.412rem;
    color: var(--input-text);
    border-radius: var(--input-border-radius, 0.2rem);
    border-width: var(--input-border-width, 0.01rem);
    border-style: solid;
    border-color: var(--border-primary);
    box-shadow: var(--input-box-shadow);
    outline: none;
    filter: none;
    caret-color: var(--input-text) !important;
    background: var(--input-background) !important;
    appearance: none !important;
    margin-top: 5px;
}
