body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
	  width: 3px;  
    height: 3px;
	 
}
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 2px; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 6px; 
}

video::-webkit-media-controls-volume-slider {
  display: none !important;
}

video::-webkit-media-controls-mute-button {
  display: none !important;
}
 
.message{
    margin: 0 auto;
    text-align: center;
    margin-top: 10%;
}
.text{
  margin-top: 50px;
  color: crimson;
  font-family: 'nunito', Arial, sans-serif;
  
}
.logo{
  width: 100px;
}