 @import '../../../../styles/variables.scss';

 .barbers{
	display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
  appearance: none;
  cursor: pointer;
 }
 .selectedBarber {
  display: flex;
  flex-wrap: wrap; 
  background-color: #00000030;
  border: $sp-2 solid $bg-white;  
  border-radius: $br-4;
}