@import '../../../../styles/variables.scss';

.news-img{
	width: $wd-100p;
	// height: $hg-100;
	object-fit: cover;
  }
  .main-text{
  margin: $sp-15 0px $sp-15 0px ;
 }
 
.name{
	margin-top: 10px;
}