@import '../../styles/variables.scss';


.service-field{
  width: $wd-100p;
  padding: $sp-20;
}


@keyframes bounce-in {
    0%{
        opacity: 0; 
    }
    100% {
       opacity: 1;
    }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.b-btn{
  position: relative;
  margin-left: 10px;
  background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: max-content;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 35px;
  width: 200px;
}
.b-btn:hover{
   transform: scale(1.010);
}
 
.duration{
  width: $wd-100p;
  max-width: $wd-100p;
  min-width: 0px;
  padding: 0.706rem;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 1rem;
  line-height: 1.412rem;
  color: var(--input-text);
  border-radius: var(--input-border-radius, 0.2rem);
  border-width: var(--input-border-width, 0.01rem);
  border-style: solid;
  border-color: var(--border-primary);
  box-shadow: var(--input-box-shadow);
  outline: none;
  filter: none;
  caret-color: var(--input-text) !important;
  background: var(--input-background) !important;
  appearance: none !important;
  margin-top: $sp-5;
 }

 .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .filter{
  width: $wd-200;
  margin-left: $sp-10;
  border: $br-2 solid;
  border-radius: $br-2;
}
 

@media(max-width:465px){
  .add-service{
    margin-left: 0;
    width: $sp-160;
    padding: $sp-10;
  }
  .filter{
    width: $sp-150;
  }
   
}